$black: #000000;
$paleBlack: #212121;
$green: #3f8880;
$orange: #f1b314;
$grey: #606060;
$blue: #002ca3;
$white: #fdfcfc;

:export {
    black: $black;
    paleBlack: $paleBlack;
    green: $green;
    orange: $orange;
    grey: $grey;
    blue: $blue;
    white: $white;
}