font-face {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}